/* ================== General Styles ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --teal: #59b292;
  --yellow: #ffc94d;
  --beige: #fae7cb;
  --pink: #fa6781;
}

.navbar img {
  width: 100%;
  height: 100%;
}

.navbar form .form-control {
  max-width: 20rem;
  height: 4.5rem;
  font-size: 1.4rem;
}

/* ====================== Utils ====================== */

/* Background Colors */
.bg-teal {
  background-color: var(--teal);
  color: #fff;
}
.bg-yellow {
  background-color: var(--yellow);
  color: #fff;
}
.bg-beige {
  background-color: var(--beige);
  color: #fff;
}
.bg-pink {
  background-color: var(--pink);
  color: #fff;
}
