/* ====================== Utils ====================== */

/* Background Colors */
.bg-teal {
  background-color: var(--teal);
  color: #fff;
}
.bg-yellow {
  background-color: var(--yellow);
  color: #fff;
}
.bg-beige {
  background-color: var(--beige);
  color: #000;
}
.bg-pink {
  background-color: var(--pink);
  color: #fff;
}

/* ================== General Styles ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --teal: #59b292;
  --yellow: #ffc94d;
  --beige: #fae7cb;
  --pink: #fa6781;
}

/* HOME */

/* navbar */
.navbar {
  height: 3.5rem;
}

.navbar img {
  width: 100%;
  height: 100%;
}

.navbar form .form-control {
  height: 2rem;
}

/* header */

.hero-img {
  transition: transform 0.4s ease;
  box-shadow: rgba(1, 0.8, 0.5, 0.5) 0px 5px 15px 0px;
}

.hero-img:hover {
  transform: scale(1.1);
}

/* main  */
main .container .row .card img {
  max-height: 8rem;
  object-fit: cover;
  object-position: center;
}

/* BLOGS */

#main--blogs {
  height: 110vh;
}

#section-2 .card {
  min-width: 40rem;
}

#section-2 .card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTACT */

#main--contact {
  height: 87vh;
}

#main--contact iframe {
  width: 100%;
  height: 100%;
}

/* ================ Responsive Design ================ */

/* lg */
@media (max-width: 992px) {
  #main--contact {
    height: auto;
  }

  #main--contact iframe {
    height: 450px;
  }
}

/* md */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  /* navbar */
  .navbar form .form-control {
    max-width: 8rem;
  }
}

/* sm */
@media (max-width: 576px) {
  html {
    font-size: 13px;
  }

  /* navbar */
  .navbar {
    height: auto;
  }
  .navbar form .form-control {
    max-width: none;
    font-size: 0.8rem;
  }

  /* main  */
  main .container #card-wrap .card img {
    max-height: 15rem;
    object-fit: cover;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 12px;
  }

  /* navbar */
  .navbar form .form-control {
    font-size: 0.6rem;
    padding: 0.5rem;
  }

  /* main  */
  main .container #card-wrap {
    min-width: 16rem;
  }
}
